# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Data & Results
/data_raw/
/results/
/models/

# WandB
wandb/

# Snakemake
.snakemake/

# Quarto
.quarto/
docs/ # Output directory for website

# IDEs
.vscode/
.idea/
.DS_Store

# JAX
jax_cache/
